body {
    background-color: #2e2e2e;
}
table {
    margin: 0 auto;
    border-spacing: 1px;
}
th,td {
    padding: 5px;
    border: 0;
    text-align: center;
    background-color: #121212;
    color: white;
    font-size: large;
    height: 50px;
    border-bottom: solid 1px #2e2e2e;
}
tr:nth-child(7) th, tr:nth-child(7) td {
    border-bottom: 0;
}
a {
    text-decoration: 0;
}
img {
    height: 40px;
}